body {
    text-align: center;
}
p {
    color: #9CE37D;
}

p.title {
    font-size: 22px;
}

a {
    color: #9CE37D;
}

button.btn {
    display: block;
    margin: 20px auto;
    background: #77867F;
    border: none;
    padding: 10px;
    border-radius: 12px;
}

button.btn a {
    text-decoration: none;
    color: white;
}