body {
    text-align: center;
}

div.story-wrapper {
    width: 50%;
    margin: 0 auto;
}

p {
    color: #9CE37D;
}

p.title {
    font-size: 22px;
}

a {
    color: #9CE37D;
}

button.btn {
    display: block;
    margin: 20px auto;
      margin-left: auto;
    background: #77867F;
    border: none;
    padding: 16px;
    border-radius: 12px;
    margin-left: 0;
    cursor: pointer;
}

button.btn a {
    text-decoration: none;
    color: white;
}